*{
  box-sizing: border-box;

}
.top-catalogue{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top-catalogue img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top:0;
  left: 0;
}
body{
  margin: 0;
  font-family: Roboto, sans-serif;
}

section {
  padding: 5px;
}
#filter, #catalogue {
  display: flex;
  flex-direction: column;
}

#choice-financement, #choice-situation,
#choice-thematic, #choice-certify,
#choice-lieu, #choice-niveau, #choice-formation{
  display: none;
}

#filter{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
  color : #003350;
  padding: 0;
}

#finance, #situation, #thematic, #certify, #lieu, #niveau, #formation {
  background-color: #f2f2f2;
  border-bottom: 3px solid #F9F9F9;
  margin-top: 2px;
}
#formation{
  margin-bottom: 20px;
}
#filter h1 {
  font-weight: bold;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}
#finance h2 {
  font-weight: bold;
  margin: 10px;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}
#situation h3 {
  font-weight: bold;
  margin: 10px;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}
#thematic h4 {
  font-weight: bold;
  margin: 10px;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}
#certify h5 {
  font-weight: bold;
  margin: 10px;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}
#lieu h6 {
  font-weight: bold;
  margin: 10px;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}
#niveau h6 {
  font-weight: bold;
  margin: 10px;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}
#formation h6{
  font-weight: bold;
  margin: 10px;
  font-size: small;
  font-family: 'Poppins', sans-serif;
}

#search {
  margin: 10px;
}

#search-filter{
  border: none;
  color: #8E8E8E;
  width: 100%;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

img {
  width: 15px;
  height: 15px;
}


.rotated{
  transform: rotate(180deg);
}

.btn-filter-mobile{
  display: none;
}
.exit-filter{
  display: none;
}


.filter-block {
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.full-width-search {
  width: 100%;
  max-width: 100%;
}
.filter-block input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
}
.filter-block label {
  flex-basis: 100%;
  margin: 0;
}

@media (max-width: 991px) {
  #filter {
    display: none;
  }
  .btn-filter-mobile{
    display: block;
  }
  .exit-filter{
    display: none;
  }
  .btn-filter-mobile p {
    color: #8E8E8E;
  }
  #exit-filter p {
    color: #8E8E8E;

  }
  .img-filter-activated{
    width: 30px;
    height: 30px;
  }

  #catalogue {
    display: flex;
    flex-direction: column;
  }

  .filter-block {
    flex-basis: 100%;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /*.filter-block input[type="checkbox"] {*/
  /*  margin-right: 100px;*/
  /*}*/

  /*.filter-block label {*/
  /*  flex-basis: 100%;*/
  /*  margin: 0;*/
  /*}*/
}





